<mail:subject>
	<xf:if is="$test">{{ phrase('logdigest_test_prefix') }} </xf:if>{{ phrase('logdigest_email_subject', {
		'type': $type,
		'board': $xf.options.boardTitle
	}) }}
</mail:subject>

{{ phrase('logdigest_recent_logs', {
	'type': '<a href="' . link_type('admin', 'canonical:' . $route) . '">' . $type . '</a>',
	'board': '<a href="' . link('canonical:index') . '">' . $xf.options.boardTitle . '</a>'
}) }}<br />
<xf:if is="$test">{{ phrase('logdigest_test_message') }}</xf:if>
<br />
<xf:if is="$logs is not empty">
	<xf:foreach loop="$logs" value="$entry">
		<hr />
		<xf:set var="$id" value="{$entry.getEntityId()}" />		
		<xf:if is="{$extra.{$id}.duplicate}">
			<b>{{ phrase('logdigest_duplicate_entry') }}</b>: {{ $extra.{$id}.date }}
		<xf:else />		
			<h2>{$entry.exception_type}</h2>
			<b>{{ phrase('logdigest_message') }}</b>: {$entry.message}<br />
			<b>{{ phrase('logdigest_file') }}</b>: <span style="font-family: monospace;">{$entry.filename}:{$entry.line|number}</span><br />
			<b>{{ phrase('generated_by') }}</b>: {{ $entry.User ? '<a href="' . link_type('admin', 'canonical:users/edit', $entry.User) . '">' . $entry.User.username . '</a>' : phrase('unknown_account') }}<br />
			<b>{{ phrase('logdigest_log_date') }}</b>: {{ $extra.{$id}.date }}<br />
			<div style="text-align: center;"><a href="{{ link_type('admin', 'canonical:' . $route, $entry) }}" class="button">{{ phrase('logdigest_view_this_error') }}</a></div>
			<h2>{{ phrase('stack_trace') }}</h2>
			<pre style="font-family: monospace; word-wrap: break-word; white-space: pre-wrap;">{$entry.trace_string}</pre>
			<h2>{{ phrase('request_state') }}</h2>
			{{ dump_simple($entry.request_state) }}<br />
		</xf:if>
	</xf:foreach>
<xf:else />
	{{ phrase('logdigest_no_logs_found') }}
</xf:if>