<xf:macro template="logdigest_macros" name="subject" arg-test="{$test}" arg-type="{$type}" />

<xf:macro template="logdigest_macros" name="header" arg-test="{$test}" arg-route="{$route}" arg-type="{$type}" />

<xf:if is="$logs is not empty">
	<xf:foreach loop="$logs" value="$log">
		<hr />
		<xf:if is="{$log.duplicate}">
			<b>{{ phrase('logdigest_duplicate_entry') }}</b>: {{ $log.dateFormatted }}
		<xf:else />
			<h2>{$log.exception_type}</h2>
			<b>{{ phrase('logdigest_message') }}</b>: {$log.message}<br />
			<b>{{ phrase('logdigest_file') }}</b>: <span style="font-family: monospace;">{$log.filename}:{$log.line|number}</span><br />
			<b>{{ phrase('generated_by') }}</b>: {{ $log.user_id ? '<a href="' . link('canonical:members', {'user_id': $log.user_id}) . '">' . $log.username . '</a>' : phrase('unknown_account') }}<br />
			<b>{{ phrase('logdigest_log_date') }}</b>: {{ $log.dateFormatted }}<br />
			<div style="text-align: center;"><a href="{{ link_type('admin', 'canonical:' . $route, $log) }}" class="button">{{ phrase('logdigest_view_this_log') }}</a></div>
			<h2>{{ phrase('stack_trace') }}</h2>
			<pre style="font-family: monospace; word-wrap: break-word; white-space: pre-wrap;">{$log.trace_string}</pre>
			<h2>{{ phrase('request_state') }}</h2>
			{{ dump_simple($log.request_state) }}<br />
		</xf:if>
	</xf:foreach>
<xf:else />
	{{ phrase('logdigest_no_logs_found') }}
</xf:if>